.sites-grid {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }

  &__status {
    text-align: center;
    color: var(--text-tertiary);
  }
}
