:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  background-color: var(--color-secondary-light);
  
  &__container {
    padding: 2rem 1rem;
    height: 100%;;
    margin: 0 auto;
  }
}
