<div class="polygon-list" id="polygon-list-container">
  <div class="polygon-list__header">
    <h2 class="polygon-list__title" id="polygon-list-title">
      {{ 'polygonList.title' | translate }}
    </h2>
    <button
      type="button"
      class="polygon-list__btn polygon-list__btn--primary"
      id="add-polygon-btn"
      (click)="toggleAddForm()"
      [disabled]="showAddForm()"
    >
      {{ 'polygonList.addPolygon' | translate }}
    </button>
  </div>

  @if (successMessage()) {
  <div class="polygon-list__success-banner" id="polygon-form-success">
    {{ 'polygonList.addPolygonSuccess' | translate }}
  </div>
  } @if (showAddForm()) {
  <div class="polygon-list__add-form" id="add-polygon-form-container">
    <form [formGroup]="polygonGroup" (ngSubmit)="submitPolygon()" id="add-polygon-form">
      @if (errorMessage()) {
      <div class="polygon-list__error-banner" id="polygon-form-error">
        {{ errorMessage() }}
      </div>
      }

      <app-polygon-form [polygonGroup]="polygonGroup" [polygonIndex]="0" [canRemove]="false" />

      <div class="polygon-list__form-actions">
        <button
          type="button"
          class="polygon-list__btn polygon-list__btn--outline"
          id="cancel-polygon-btn"
          (click)="cancelAdd()"
          [disabled]="isSubmitting()"
        >
          {{ 'common.cancel' | translate }}
        </button>
        <button
          type="submit"
          class="polygon-list__btn polygon-list__btn--primary"
          id="save-polygon-btn"
          [disabled]="isSubmitting()"
        >
          @if (isSubmitting()) { {{ 'polygonList.saving' | translate }} } @else {
          {{ 'polygonList.savePolygon' | translate }} }
        </button>
      </div>
    </form>
  </div>
  } @if (polygons().length === 0) {
  <div class="polygon-list__empty" id="polygon-list-empty">
    <p>{{ 'polygonList.noPolygons' | translate }}</p>
  </div>
  } @else {
  <div class="polygon-list__items" id="polygon-list-items">
    @for (polygon of polygons(); track $index; let polyIndex = $index) {
    <div class="polygon-item" [id]="'polygon-item-' + polyIndex">
      <div class="polygon-item__header">
        <h3 class="polygon-item__name" [id]="'polygon-name-' + polyIndex">{{ polygon.name }}</h3>
      </div>

      <div class="polygon-item__details">
        <div class="polygon-item__detail">
          <span class="polygon-item__label">{{ 'polygonList.polygonPoints' | translate }}</span>
          <span class="polygon-item__value" [id]="'polygon-points-count-' + polyIndex"
            >{{ polygon.polygonPoints.length }} {{ 'polygonList.points' | translate }}</span
          >
        </div>
      </div>

      <div class="polygon-item__polygonpoints" [id]="'polygon-points-' + polyIndex">
        <div class="polygonpoints-list">
          @for (coord of polygon.polygonPoints; track $index; let pointIndex = $index) {
          <div class="polygonpoint-item" [id]="'polygon-' + polyIndex + '-point-' + pointIndex">
            <span class="polygonpoint-item__index">{{ pointIndex + 1 }}</span>
            <span
              class="polygonpoint-item__lat"
              [id]="'polygon-' + polyIndex + '-point-' + pointIndex + '-lat'"
              >{{ 'polygonList.lat' | translate }} {{ coord.latitude.toFixed(6) }}</span
            >
            <span
              class="polygonpoint-item__lng"
              [id]="'polygon-' + polyIndex + '-point-' + pointIndex + '-lng'"
              >{{ 'polygonList.lng' | translate }} {{ coord.longitude.toFixed(6) }}</span
            >
          </div>
          }
        </div>
      </div>
    </div>
    }
  </div>
  }
</div>
