<div class="polygon-form" [formGroup]="polygonGroup()" [id]="polygonIndex()">
  <div class="polygon-form__header">
    <h4 class="polygon-form__title">
      {{ 'polygonForm.polygon' | translate }} {{ polygonIndex() + 1 }}
    </h4>
    @if (canRemove()) {
    <button
      type="button"
      class="polygon-form__btn polygon-form__btn--danger polygon-form__btn--sm"
      (click)="onRemove()"
      [id]="'remove-btn-' + polygonIndex()"
    >{{ 'common.remove' | translate }}</button>
    }
  </div>

  <div class="polygon-form__field">
    <label class="polygon-form__label" [for]="'polygonName-' + polygonIndex()"
      >{{ 'polygonForm.polygonName' | translate }}
      <span class="polygon-form__required">*</span>
    </label>

    <input
      type="text"
      formControlName="name"
      class="polygon-form__input"
      [class.polygon-form__input--error]="isFieldInvalid('name')"
      [placeholder]="'polygonForm.placeholders.polygonName' | translate"
      [id]="'polygonName-' + polygonIndex()"
    />
    @if (isFieldInvalid('name')) {
    <span class="polygon-form__error" [id]="'polygonName-error' + polygonIndex()">
      @if (polygonGroup().get('name')?.errors?.['required'] ||
      polygonGroup().get('name')?.errors?.['whitespaceOnly'])
      {{{ 'polygonForm.errors.nameRequired' | translate }}} @else if
      (polygonGroup().get('name')?.errors?.['minlength'] ||
      polygonGroup().get('name')?.errors?.['maxlength'])
      {{{ 'polygonForm.errors.nameLength' | translate }}} @else if
      (polygonGroup().get('name')?.errors?.['edgeWhitespaces'])
      {{{ 'createSiteForm.errors.noEdgeWhitespaces' | translate }}}
    </span>
    }
  </div>

  <div class="coordinates">
    <div class="coordinates__header">
      <label class="polygon-form__label"
        >{{ 'polygonForm.coordinates' | translate }}
        <span class="polygon-form__required">*</span></label
      >
      <button
        type="button"
        class="polygon-form__btn polygon-form__btn--outline polygon-form__btn--sm"
        (click)="addCoordinate()"
        [id]="'point-btn-' + polygonIndex()"
      >{{ 'polygonForm.addPoint' | translate }}</button>
    </div>

    @if (hasCoordinatesError() && coordinates.errors?.['minlength']) {
    <span class="polygon-form__error">{{ 'polygonForm.errors.minCoordinates' | translate }}</span>
    } @if (hasDuplicateCoordinatesError()) {
    <span class="polygon-form__error">{{ 'polygonForm.errors.duplicateCoordinates' | translate }}</span>
    }

    <div class="coordinates__list" formArrayName="coordinates">
      @for (coord of coordinates.controls; track $index; let cooId = $index) {
      <div
        class="coordinates__row"
        [formGroupName]="cooId"
        [class.coordinates__row--duplicate]="isCoordinateDuplicate(cooId)"
        [id]="'polygon-' + polygonIndex() + '-row-' + cooId"
      >
        <span class="coordinates__index">{{ cooId + 1 }}.</span>

        <div class="coordinates__field">
          <input
            type="number"
            formControlName="latitude"
            class="polygon-form__input polygon-form__input--sm"
            [class.polygon-form__input--error]="isCoordinateFieldInvalid(cooId, 'latitude')"
            [placeholder]="'polygonForm.placeholders.latitude' | translate"
            step="any"
            [id]="'polygon-' + polygonIndex() + '-lat-' + cooId"
          />
          @if (isCoordinateFieldInvalid(cooId, 'latitude')) {
          <span
            class="polygon-form__error polygon-form__error--inline"
            [id]="'polygon-' + polygonIndex() + '-lat-' + cooId + '-error'"
          >
            @if (coordinates.at(cooId).get('latitude')?.errors?.['required'])
            {{{ 'polygonForm.errors.latitudeRequired' | translate }}} @else if
            (coordinates.at(cooId).get('latitude')?.errors?.['latitude'])
            {{{ 'polygonForm.errors.latitudeInvalid' | translate }}} @else if
            (coordinates.at(cooId).get('latitude')?.errors?.['maxDecimals'])
            {{{ 'polygonForm.errors.latitudeDecimals' | translate }}}
          </span>
          }
        </div>

        <div class="coordinates__field">
          <input
            type="number"
            formControlName="longitude"
            class="polygon-form__input polygon-form__input--sm"
            [class.polygon-form__input--error]="isCoordinateFieldInvalid(cooId, 'longitude')"
            [placeholder]="'polygonForm.placeholders.longitude' | translate"
            step="any"
            [id]="'polygon-' + polygonIndex() + '-lng-' + cooId"
          />
          @if (isCoordinateFieldInvalid(cooId, 'longitude')) {
          <span
            class="polygon-form__error polygon-form__error--inline"
            [id]="'polygon-' + polygonIndex() + '-lng-' + cooId + '-error'"
          >
            @if (coordinates.at(cooId).get('longitude')?.errors?.['required'])
            {{{ 'polygonForm.errors.longitudeRequired' | translate }}} @else if
            (coordinates.at(cooId).get('longitude')?.errors?.['longitude'])
            {{{ 'polygonForm.errors.longitudeInvalid' | translate }}} @else if
            (coordinates.at(cooId).get('longitude')?.errors?.['maxDecimals'])
            {{{ 'polygonForm.errors.longitudeDecimals' | translate }}}
          </span>
          }
        </div>

        @if (coordinates.length > 3) {
        <button
          type="button"
          class="polygon-form__btn polygon-form__btn--icon polygon-form__btn--danger"
          (click)="removeCoordinate(cooId)"
        >
          ×
        </button>
        }
      </div>
      }
    </div>
  </div>
</div>
