@use './_tokens/index';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arimo';
}

// RTL Support
html[dir='rtl'] {
  font-family: 'Arimo', 'Segoe UI', Tahoma, sans-serif;
}
